.Todo {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    background: linear-gradient(45deg, #29FE69 0, #718CF6 100%);
}
.TodoWrapper {
    width: 400px;
    padding: 15px;
    margin-top: 30px;
    height: fit-content;
}